<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <!-- header.heading -->
  <header class="heading">Semantic Demo</header>
  <!-- main#main>section*2+aside -->
  <main id="main">
    <section>test</section>
    <section>test</section>
    <aside>test</aside>
  </main>
  <!-- footer>section.footer-section*3 -->
  <footer>
    <section class="footer-section">random data</section>
    <section class="footer-section">random data</section>
    <section class="footer-section">random data</section>
  </footer>
</body>
</html>