<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <!-- header.heading -->
  <header class="heading">GitHub Demo</header>
  <nav><a href="">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a></nav>
  <!-- main#main>section*2+aside -->
  <main id="main">
    <section>
      <!-- ul>li*5 -->
      <h2>Matrix Favorite Books</h2>
      <ul>
        <li>Dylan: The Dark Tower</li>
        <li>Sean: Harry Potter</li>
        <li>Josh: No favorite book, I dislike reading</li>
        <li>Raul: favorite comic Death of Superman</li>
        <li></li>
      </ul>
    </section>
    <section>test</section>
    <aside>test</aside>
  </main>
  <!-- footer>section.footer-section*3 -->
  <footer>
    <section class="footer-section">random data</section>
    <section class="footer-section">random data</section>
    <section class="footer-section">random data</section>
  </footer>
</body>
</html>